<main class="center">
    <div class="section"></div>
    <h5 class="indigo-text">Inicia sesi칩n para continuar</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <!-- TODO: ADD FORM TO LOGIN (symbol: login) -->

        <form class="col s12" method="post">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='email' name='email' id='email' />
              <label for='email'>Correo electr칩nico</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='password' name='password' id='password' />
              <label for='password'>Contrase침a</label>
            </div>
            <label style='float: right;'>
              <a class='pink-text' href='#!'><b>Olvide mi contrase침a</b></a>
            </label>
          </div>

          <br />
          <div class="center">
            <div class='row'>
              <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Entrar</button>
            </div>
          </div>
        </form>

        <a href="#">Registro</a>

        <div class="section"></div>
      </div>
    </div>

  <div class="section"></div>
  <div class="section"></div>
</main>