<div class="row">
  <div class="col12">
    <%= render "/wallet_info"%>
  </div>
</div>

<div class="row">
  <div class="col12">
    <%= render "/user_cards"%>
  </div>
</div>

<div class="row">
  <div class="col12">
    <%= render "/customer_wallets"%>
  </div>
</div>

<div class="row">
  <div class="col12">
    <%= render "/wallet_history"%>
  </div>
</div>