// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";

.center {
  text-align: center;
}

.center > div, .center > table{
  margin-left: auto;
  margin-right: auto;
}

.backstretch{
  opacity: 0.65;
}